@import 'fonts.css';
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "Questrial", sans-serif;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: rgb(0,34,79);
	border-bottom: 2px solid #fff;
	padding: 0 8%;
	z-index: 1000;
}
nav .btnMenu{
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	display: none;
	cursor: pointer;
}
nav .menu{
	list-style: none;
}
nav a{
	text-decoration: none;
	color: #fff;
}
nav > a{
	padding: 0 	10px;
	height: 80px;
	line-height: 80px;
	background: #fff;
	color: rgb(0,34,79);
	font-size: 25px;
	font-weight: 600;
	font-family: "Dinot";
}
nav ul li{

}
nav ul li a{
	position: relative;
	padding: 10px 15px;
	display: block;
	font-size: 15px;
	text-transform: uppercase;
	overflow: hidden;
}
nav ul li a:before,
a:after{
	content: '';
	position: absolute;
	left: 50%;
	width: 0;
	height: 2px;
	background: #fff;
	transition: all .5s;
}
nav ul li a:before{
	bottom: 0;

}
nav ul li a:after{
	top: 0;
}
nav ul li a:hover:after,
a:hover:before{
	width: 100%;
	left: 0;
}
nav ul li .login{
	background: #fff;
	color: rgb(0,34,79);
	border-radius: 2px;
	letter-spacing: 2px;
	margin-left: 5px;
	transition: all .5s;
	border-right: 2px solid rgb(0,34,79);
}
nav ul li .login:before,
.login:after{
	display: none;
}
nav ul li .login:hover{
	background: rgb(0,20,60);
	color: #fff;
	border-right: 2px solid #fff;
}
.header{
	position: relative;
	padding-top: 80px;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
.header:before,
.header:after{
	content: '';
	position: absolute;
	bottom: -100px;
	width: 110%;
	height: 120px;
	background: rgb(220,220,220);
	z-index: 10;
}
.header:before{
	transform: rotate(-3deg);
}
.header:after{
	transform: rotate(3deg);
}
.header .bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  url(../files/bg1.jpg) center/cover no-repeat;
	z-index: -1
}
.header .bg:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0,34,79);
	opacity: 0.3;
}
.header .title{
	font-size: 30px;
	text-align: center;
	color: #fff;
}
.main{
	background: rgb(220,220,220);
	width: 100%;
	padding: 20px 0; 
}
.main .container{
	width: 880px;
	padding: 10px;
}
.main .container a{
	position: relative;
	text-decoration: none;
	color: #000;
	display: block;
}
.main .container .a-link{
	transition: all .5s;
}
.main .container .a-link:hover{
	background: rgb(200,200,200);
	box-shadow: 0 0 5px 5px rgb(0,34,79),inset 0 0 5px 5px rgb(0,34,79);
}
.main .container .a-link:hover .a-content{
	border: 2px dashed #fff;
}
.main .container .a-content{
	height: 150px;
	border: 2px dashed rgb(0,34,79);
	border-radius: 5px;
	padding: 0 10px;
	transition: all .5s;
}
.main .container .text{
	width: 400px;
	padding: 0 10px;
}
.main .container h1{
	padding-top: 10px;
}
.main .container p{
	padding-top: 10px;
	position: relative;
}
.main .container p:before{
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #888;
}
.main .container .marker{
	width: 100px;
}
.main .container .img{
	position: relative;
	width: 200px;
}
.main .container div img{
	width: 200px;
	object-fit: cover;
}
footer{
	margin-top: 20px;
	padding: 15px 0;
	background: rgb(0,34,79);
}
footer div{
	color: #fff;
	height: 30px;
}

@media screen and (max-width: 900px){
	nav{
		padding: 0 15px;
	}
	nav .btnMenu{
		display: block;
	}
	nav .menu{
		background: rgb(0,34,79);
		position: fixed;
		top: 80px;
		left: -300px;
		width: 300px;
		height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		text-align: center;
		transition: all .5s;
	}
	nav ul li a{
		padding: 20px 0;
		transition: all .5s;
	}
	nav ul li a:hover{
		background: rgb(0,20,60);
		border-right: 3px solid #fff;
	}
	nav ul li a:before,a:after{
		display: none;
	}
	.header .title{
		font-size: 20px;
		padding: 0 10px;
	}
	.main .container{
		width: 100%;
	}
	.main .container .a-content{
		height: auto !important;
		flex-direction: column;
	}
	.main .container .marker{
		width: 80px;
		padding: 10px 0;
		display: none;
	}
	.main .container .text{
		text-align: center;
		padding: 10px 0;
	}
	.main .container .text h2{
		font-size: 20px;
	}
	.main .container .text p{
		padding: 10px 0;
	}
	.main .container .img{
		padding-bottom: 10px;
	}
	.main .container .img img{
		height: 150px;
	}
}
@media screen and (max-width: 300px){
	.main .container div .img{
		width: 100%;
	}
	.main .container div img{
		width: 100%;
	}
}
@media screen and (max-width: 500px){
	.main .container .text{
		width: 90%;
	}
}


.flex{display: flex;}
.aic{align-items: center;}
.fdc{flex-direction: column;}
.jcc{justify-content: center;}
.jcsa{justify-content: space-around;}
.jcsb{justify-content: space-between;}
.on{left: 0 !important;}