@import 'fonts.css';
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "Questrial";
}
.login{
	width: 100%;
	height: 100vh;
	background: rgb(200,200,200);
	display: flex;
	align-items: center;
	justify-content: center;
}
.login form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	border: 2px solid rgb(0,34,79);
	border-radius: 10px;
	padding: 20px 15px;
}
.login form h2{
	padding-bottom: 10px;
	color: rgb(0,34,79);
	font-size: 30px;
}
.login form input{
	width: 100%;
	padding: 10px 8px;
	margin: 12px;
	background: none;
	font-size: 16px;
	outline: none;
	border: none;
	border-bottom: 1px solid rgb(0,34,79);
}
.login form input[type="submit"]{
	background: rgb(0,34,79);
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}